.footer
{
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
    margin-top: 20px;
    font-size: 14px;
    color: #6c757d;
}

.background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: fill;
    opacity: 1;
}

.navbar navbar-expand-lg navbar-light bg-light {
    background-color: #ffffff00;


}

.card {
    margin: 20px auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}